@import 'vue-multiselect/dist/vue-multiselect.css';

@layer base {
  @font-face {
    font-family: 'Faktum';
    src: url('../fonts/Rene Bieder - Faktum Test Regular.otf');
  }
  @font-face {
    font-family: 'PT_Root';
    src: url('../fonts/PT-Root-UI_Medium.ttf');
  }
}

@layer components {
  .container {
    @apply w-full xl:max-w-[1360px] mx-auto flex flex-col bg-[#FFFFFF];
  }
  .header {
    @apply h-[64px] w-full flex justify-between items-center px-[20px] z-10;
  }
  .logo {
    @apply text-[#2B63F1] font-semibold text-[18px];
  }
  .right-menu {
    @apply flex items-center font-pt_root;
  }
  .header-btn {
    @apply text-[#2B63F1] bg-[#ECF1FE] font-pt_root font-medium text-sm leading-5 py-[8px] px-[12px];
  }
  .main-title {
    @apply text-[28px] md:text-[44px] text-center font-semibold leading-[32px] md:leading-[48px];
  }
  .create-airdrop-btn {
    @apply w-full md:w-[146px] h-[36px] bg-[#2B63F1] text-white text-[14px] flex items-center justify-center;
  }
  .add-airdrop-btn {
    @apply w-full md:w-[153px] h-[36px] bg-[#ECF1FE] text-[#2B63F1] text-[14px] flex items-center justify-center;
  }
  .main-header {
    @apply relative z-10 w-[750px] h-[212px] flex flex-col justify-between mx-auto text-center mt-[116px];
  }
  .title {
    @apply text-[28px] font-semibold;
  }
  .subtitle {
    @apply text-[18px] md:text-[24px] text-center font-semibold leading-[24px] md:leading-[24px] mb-[44px];
  }
  .pagination-dropdown {
    @apply border border-[#C6C9CF] w-full py-[9.5px] px-[12px] bg-white;
  }
  .pagination {
    @apply w-full mt-[16px] font-pt_root text-[14px] mb-[40px] lg:mb-[46px];
  }
  .itemsPerPage {
    @apply flex items-center space-x-[6px];
  }
  .pageNumber {
    @apply flex items-center space-x-[6px];
  }
  .paginationBtns {
    @apply flex items-center space-x-[4px];
  }
  .paginationBtn {
    @apply w-[36px] h-[36px] flex items-center justify-center bg-[#ECF1FE];
  }
  .footer {
    @apply h-[103px] md:h-[64px] w-full bg-[#F7F7F9] flex flex-col md:flex-row justify-center md:justify-between md:items-center px-[20px] clear-both relative mt-[103px] md:mt-[100px];
  }
  .footer-menu {
    @apply space-x-[16px] md:space-x-[40px] text-[14px] text-[#8B909A] font-pt_root;
  }
  button {
    @apply font-pt_root;
  }

  /* airdrop */
  .main {
    @apply w-full lg:max-w-[540px] xl:max-w-[730px];
  }
  .aside {
    @apply w-full lg:max-w-[360px] text-[14px] lg:px-[24px];
  }
  .form {
    @apply flex flex-col md:flex-row md:justify-between pt-[16px] space-y-[16px] md:space-y-0 md:space-x-[24px] font-pt_root;
  }
  .form-label {
    @apply text-black font-medium font-pt_root;
  }
  .form-dropdown {
    @apply border border-[#C6C9CF] h-[36px] text-[14px] flex items-center justify-between px-[12px] font-pt_root leading-5;
  }
  .form-dropdown-message {
    @apply text-[12px] text-[#A6AAB2] font-medium font-pt_root;
  }
  .form-text-input {
    @apply border border-[#C6C9CF] w-full min-h-[40px] text-[14px] px-[12px] placeholder:text-[#A6AAB2] font-pt_root;
  }
  .recepian-list {
    @apply mt-[48px] relative before:absolute before:inset-0 before:recepianListGradient;
  }
  .upload-file {
    @apply w-full h-[124px] border border-dashed border-[#B1C5FA] flex flex-col justify-center items-center mt-2 font-pt_root;
  }
  .upload-sign {
    @apply w-[44px] h-[44px] rounded-full bg-[#DAE4FD] flex items-center justify-center;
  }
  .upload-header {
    @apply font-bold text-[#2B63F1] font-pt_root;
  }
  .upload-subtitle {
    @apply text-[#2B63F1] text-[12px] font-pt_root;
  }
  .aside-header {
    @apply space-y-[8px] border-b border-[#EAEBF0] pb-[24px] mb-[24px];
  }
  .aside-main {
    @apply space-y-[16px] font-medium;
  }
  .list-number {
    @apply w-[20px] h-[20px] bg-[#E4E5EA] text-[#6C7078] rounded-full flex justify-center items-center mr-[12px];
  }
  .message {
    @apply border-l-4 border-[#E6AC00] text-[12px] mt-[24px];
  }
  .aside-btn {
    @apply w-full h-[46px] text-white text-base font-medium bg-[#DAE4FD] flex justify-center items-center mt-[24px] relative;
  }
  .dropdown {
    @apply border border-[#C6C9CF] w-full py-[9.5px] px-[12px] bg-white;
  }
  .upload-csv {
    @apply opacity-0 absolute w-full h-full cursor-pointer;
  }
  .recipients-list-subtitle {
    @apply text-[24px] font-faktum text-black font-medium;
  }
  /*.dp-custom-input {*/
  /*  @apply h-[40px] rounded-none placeholder:text-[#A6AAB2] placeholder:text-base;*/
  /*}*/
}

@layer utilities {
  .topGradient {
    position: absolute;
    height: 280px;
    width: 100%;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    background: radial-gradient(50% 100% at 50% 0%, #fef2cd 0%, rgba(254, 242, 205, 0) 100%);
  }
  .tableGradient {
    background: linear-gradient(
      90deg,
      rgba(234, 235, 240, 0.64) 0%,
      #eaebf0 53.68%,
      rgba(234, 235, 240, 0.16) 100%
    );
    height: 20px;
  }
  .tableReverseGradient {
    background: linear-gradient(
      90deg,
      rgba(234, 235, 240, 0.16) 0%,
      rgba(234, 235, 240, 0.64) 53.68%,
      #eaebf0 100%
    );
    height: 20px;
  }
  .loading {
    background: linear-gradient(
      90deg,
      rgba(234, 235, 240, 0.64) 0%,
      #eaebf0 53.68%,
      rgba(234, 235, 240, 0.16) 100%
    );
  }
  @keyframes spinAround {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
  .is-loading {
    color: transparent !important;
    pointer-events: none;
    user-select: none;
  }
  .is-loading::after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #ffffff;
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    height: 1.2em;
    width: 1.2em;
    left: calc(50% - (1.2em / 2));
    top: calc(50% - (1.2em / 2));
    position: absolute !important;
  }
}

.multiselect__single {
  display: flex;
}
.multiselect__option {
  display: flex;
  align-items: center;
}
.multiselect__tags {
  border-radius: 0;
  border-color: #c6c9cf;
}
.multiselect__option--highlight {
  background: transparent;
  color: black;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: transparent;
  color: #2b63f1;
}
.dp__action_buttons {
  display: flex;
  width: unset;
}
.dp__action {
  font-weight: normal;
}
.dp__action.dp__select {
  color: white;
  background: #2b63f1;
  padding: 8px 12px;
}
.dp__action.dp__cancel {
  color: #2b63f1;
  padding: 8px 12px;
}
.dp__button {
  color: #2b63f1;
}
.dp__range_end,
.dp__range_start,
.dp__active_date {
  background: #2b63f1;
}
.dp-custom-input {
  height: 40px;
  border-radius: 0;
  font-size: 14px;
  font-family: 'PT_Root';
}
.dp-custom-input::placeholder {
  color: #a6aab2;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.main-title {
  font-feature-settings: 'ss10' on;
  font-style: normal;
}
.yourAirdrops td {
  font-feature-settings: 'tnum' on, 'lnum' on;
}
input.multiselect__input {
  font-size: 14px
}
.option__desc .option__title {
  font-size: 14px;
}

.paginationToEdit {
  display: flex;
}

.remove-clickability {
  user-select: none; 
  pointer-events: none;
  /* background-color: #a6aab2; */
}

/*Styles for the new dropdown: Select Token*/
.dropdown-wrap {
  margin: 0;
  position: relative;
}
.dropdown-select {
  z-index: 10;
  height: 43px;
  border: 1px solid lightgray;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.dropdown-hint {
  color: #4c4c4c;
}
.dropdown-select div {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
}
.dropdown-select div img {
  height: 1.25rem; width: 1.25rem; margin-right: 10px
}
.dropdown-popover {
  margin-top: 0.2rem;
  z-index: 10;
  position: absolute;
  border: 1px solid lightgray;
  /* top: 46px; */
  left: 0;
  right: 0;
  background-color: rgb(245, 245, 245);
  /* width: 100%; */
  max-width: 100%;
  /* padding: 10px; */
}
.dropdown-popover input {
  width: 90%;
  height: 43px;
  border: 1px solid lightgray;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.dropdown-options {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}
#drop-label-color {
  color: black;
}
.dropdown-options div {

}
.dropdown-options div div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 43px;
  text-align: left;
  /* margin-left: 5%; */
  padding-left: 5%;
  /* border-top: 1px solid lightgrey; */
}
.dropdown-options div div img {
  width: 1.25rem;
  height: 1.25rem;
}
.dropdown-options div div p {
  margin-left: 5%;
}
.addr_input {
  border: 2px solid black;
  outline: none;
}
.addr_input:focus {
  border: 2px solid #bd12c6;
}


.dp__sidebar_left{
  width: 120px;
}
.left-sidebar-button {
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 0px;
  padding-left: 28px;
  line-height: 20px;
  color: #8B909A;
}

.main_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.main_modal div div {
  background-color: white;
}
.main_modal div div h3 {
  font-size: 2rem;
  font-weight: 600; 
  color: black;
}
.modal_label {
  color: black !important;
  font-weight: 600 !important;
}
.modal_input {
  background-color: white !important;
}

.custom-input-wrap {
  position: relative;
  width: 100%;
}
.custom-input {
  width: 100%;
  padding-right: 4rem !important;
  /* padding: 10px 4rem 10px 20px;  */
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-input-button {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  color: #2b63f1 !important;
  border: 0;
  background: white;
  outline: none;
  margin: 0;
  padding: 0 10px;
  z-index: 2;
}

.swap-acc-icon {
  height: 18px;
  width: 18px;
}

.swap-acc-icon path {
  stroke:#000;
  fill: #000;
  stroke-miterlimit:10;
  stroke-width:4px;
}